* {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  text-decoration: none; }

body {
  font-family: "Nunito", sans-serif;
  background: #94a8f8;
  line-height: 2.5; }

.navbar-brand {
  font-weight: 800; }

.section__Article {
  margin-top: 15px; }

.section__Titulo {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding: 5px; }

.section__Parrafo {
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  padding: 10px; }

.video {
  text-align: center; }

.footer-grid {
  display: grid;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 2px 0px 9px 0 black;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 20% 80%; }

.div-grid p {
  font-size: 18px;
  margin-left: 10px;
  text-transform: uppercase;
  color: black;
  font-weight: bold; }

.div-gridredes p {
  margin-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-weight: bold; }

.div-grid__Input {
  display: flex;
  justify-content: start;
  margin-top: 20px; }

.casilleros {
  width: 40%;
  height: 70px;
  margin-left: 10px;
  padding: 5px;
  background: white;
  border: none;
  border-bottom: 3px solid #94a8f8;
  outline: none;
  color: black;
  text-align: left;
  font-family: "Nunito", sans-serif; }

.casilleros:hover {
  background: linear-gradient(to bottom, #ebe0e0, #888484);
  border-bottom: 3px solid #94a8f8;
  outline: none; }

.div-grid__Input textarea {
  resize: none;
  padding-top: 10px; }

.botoncito {
  width: 20%;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #94a8f8;
  border-radius: 2%;
  cursor: pointer; }

.div-grid__Redes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap; }

.div-grid__Redes i {
  font-size: 70px;
  color: #94a8f8; }

.div-grid__Donaciones {
  display: flex;
  justify-content: start;
  margin-top: 20px; }

.div-grido {
  margin-left: 50px; }

.div-grido p {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-weight: bold; }

.div-grid__Donaciones i {
  font-size: 70px;
  margin-left: 50px;
  color: #8ca8f8; }

.footer-responsive {
  display: none;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 2px 0px 9px 0 black; }

.responsive-parrafo {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-left: 10px; }

.form-responsive {
  display: flex;
  flex-direction: column; }

.form-responsive textarea {
  resize: none; }

.footer__Input-responsive {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border: none;
  border-bottom: 2px solid #94a8f8;
  outline: none;
  color: black;
  font-family: "Nunito", sans-serif; }

.submit-responsive {
  font-weight: bold;
  border-bottom: none;
  cursor: pointer;
  border: 1px solid #94a8f8; }

.footer__Input-responsive:hover {
  background: linear-gradient(to bottom, #ebe0e0, #888484);
  border-bottom: 3px solid #94a8f8;
  outline: none; }

.responsive-redes i {
  font-size: 40px;
  color: #8ca8f8;
  margin-left: 10px; }

.responsive-donaciones i {
  font-size: 40px;
  color: #8ca8f8;
  margin-left: 10px; }

/* .footer-grid {
  background: $colordefondo;
}

.form-label {
  padding-left: 5px;
  padding-top: 5px;
}

.form-control {
  resize: none;
}

.btn {
  margin-left: 5px;
  margin-bottom: 10px;
}

.redes__P {
  margin-left: 5px;
}

.div-container i {
  margin-left: 5px;
  margin-right: 15px;
}

.iconos {
  font-size: 40px;
  color: rgb(0, 0, 0);
}
*/
.historia {
  margin-top: 15px; }

.section__Titulos {
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
  text-align: center; }

.section__Parrafos {
  margin-left: 10px;
  font-size: 1rem;
  padding: 10px; }

.section__Parrafos::first-letter {
  font-family: serif;
  font-size: 25px;
  font-weight: 600; }

.cartahistoria {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px; }

.carta1 img {
  filter: contrast(1.2); }

.carta3 {
  margin: auto;
  margin-bottom: 25px; }
  .carta3 img {
    filter: contrast(1.2); }

.material__Lista {
  margin-left: 10px; }

.material__Lista--item {
  padding: 2px; }

.material__Titulo {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
  margin-top: 15px; }

.material__Parrafo {
  font-size: 1rem;
  margin-left: 5px;
  padding: 10px; }

.marterial__Subtitulo {
  margin-left: 10px;
  font-size: 25px;
  padding: 10px;
  font-weight: 500; }

.listamaterial li {
  background: #94a8f8;
  margin-left: 20px;
  margin-bottom: 10px; }

.material__Imagen {
  margin-left: 10px;
  width: 422px;
  box-shadow: 2px 2px 10px 0 black;
  float: right; }

.nuevocentral {
  text-align: center;
  margin-bottom: 15px; }

.portugal {
  margin-bottom: 20px; }

.trenes__Conteiner--titulo {
  text-align: center; }

.trenes__Titulo {
  margin-top: 15px;
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px; }

.lsm {
  background: #99d2da;
  color: black; }

.gm {
  background: #817bb9;
  color: black; }

.encabezado {
  background: black;
  color: white; }

.div__Tr--tdsm,
.div__Tr--tdgm {
  font-size: 15px; }

.ferro__Referencias--titulo {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 800; }

.ferro__Referencias--item {
  padding: 10px 10px;
  font-size: 1rem; }

.anecdota__Div--titulo {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 800; }

.anecdota__Div--titulo2 {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  font-weight: 500; }

.anecdota__Div--parrafo {
  font-size: 1rem;
  margin-left: 5px;
  padding: 10px; }

.carousel {
  width: 700px;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px 0 black; }

.carousel-inner, .imagen1,
.imagen2 {
  width: 700px;
  height: 500px; }

.d-block {
  width: 600px;
  height: 500px; }

@media only screen and (max-width: 1000px) {
  .carousel {
    margin: auto;
    margin-bottom: 20px; }
  .footer-grid {
    display: none; }
  .footer-responsive {
    display: block; } }

@media only screen and (max-width: 850px) {
  .carousel {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px; }
  .carousel-inner, .imagen1,
  .imagen2 {
    width: 400px;
    height: 300px; }
  .imagen1,
  .imagen2 {
    width: 400px;
    height: 300px; } }

@media only screen and (max-width: 660px) {
  .video iframe {
    text-align: left;
    height: 400px;
    width: 310px; }
  .cartahistoria {
    display: block; }
  .carta1,
  .carta2 {
    margin: auto;
    margin-bottom: 15px; }
  .conteiner__imagen {
    width: 319px;
    height: 200px;
    margin-left: 0px; }
  .material__Titulo {
    font-size: 20px; }
  .table-responsive {
    display: none; }
  .carousel {
    margin: auto;
    margin-bottom: 20px; } }

@media only screen and (max-width: 580px) {
  .material__Imagen {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    float: none; } }

@media only screen and (max-width: 500px) {
  .carousel {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px; }
  .carousel-inner, .imagen1,
  .imagen2 {
    width: 300px;
    height: 200px; }
  .imagen1,
  .imagen2 {
    width: 300px;
    height: 200px; } }
