.anecdota__Div--titulo {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
}

.anecdota__Div--titulo2 {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
}

.anecdota__Div--parrafo {
  font-size: 1rem;
  margin-left: 5px;
  padding: 10px;
}

.carousel {
  width: 700px;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px 0 black;
}

.carousel-inner {
  width: 700px;
  height: 500px;
}

.imagen1,
.imagen2 {
  width: 700px;
  height: 500px;
}

.d-block {
  width: 600px;
  height: 500px;
}
