@mixin anecdotatitulo {
  margin-top: 55px;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
}

.anecdota__Div--titulo {
  @include anecdotatitulo;
}

@mixin anecdotatitulo2($ubicacion, $tamano, $separacion, $grosor) {
  text-align: $ubicacion;
  font-size: $tamano;
  padding: $separacion;
  font-weight: $grosor;
}

.anecdota__Div--titulo2 {
  @include anecdotatitulo2(center, 25px, 10px, 500);
}

.anecdota__Div--parrafo {
  font-size: 1rem;
  margin-left: 5px;
  padding: 20px 100px;
}

.carousel {
  width: 700px;
  height: 500px;
  margin: auto;
  margin-bottom: 60px;
  box-shadow: 2px 2px 10px 0 black;
}

.carousel-inner {
  width: 700px;
  height: 500px;
}

.imagen1,
.imagen2 {
  @extend .carousel-inner;
}

.d-block {
  width: 600px;
  height: 500px;
}
