.historia {
  margin-top: 15px;
}

.section__Titulos {
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
  text-align: center;
}

.section__Parrafos {
  margin-left: 10px;
  font-size: 1rem;
  padding: 10px;
}

.section__Parrafos::first-letter {
  font-family: serif;
  font-size: 25px;
  font-weight: 600;
}

.cartahistoria {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.carta1 {
  img {
    filter: contrast(1.2);
  }
}

.carta3 {
  margin: auto;
  margin-bottom: 25px;
  img {
    filter: contrast(1.2);
  }
}
