.navbar-brand {
  font-weight: 700;
}

.offcanvas-title {
  font-weight: 700;
}

.section__Article {
  margin-top: 80px;
}

.section__Titulo {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  padding: 5px;
}

.section__Parrafo {
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  padding: 10px;
}

.video {
  text-align: center;
}

.footer-grid {
  background: rgb(255, 255, 255);
}

.form-label {
  padding-left: 5px;
  padding-top: 5px;
}

.form-control {
  resize: none;
}

.btn {
  margin-left: 5px;
  margin-bottom: 10px;
}

.redes__P {
  margin-left: 5px;
}

.div-container i {
  margin-left: 5px;
  margin-right: 15px;
}

.iconos {
  font-size: 40px;
  color: rgb(0, 0, 0);
}
