@media only screen and (max-width: 1000px) {
  .carousel {
    margin: auto;
    margin-bottom: 20px;
  }

  .footer-grid {
    display: none;
  }

  .footer-responsive {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .carousel {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  .carousel-inner {
    width: 400px;
    height: 300px;
  }

  .imagen1,
  .imagen2 {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-width: 660px) {
  .video iframe {
    text-align: left;
    height: 400px;
    width: 310px;
  }

  .conteiner__imagen {
    width: 319px;
    height: 200px;
    margin-left: 0px;
  }

  .cartashistoria {
    margin-bottom: 20px;
  }

  .material__Titulo {
    font-size: 20px;
  }

  .table-responsive {
    display: none;
  }

  .carousel {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 580px) {
  .material__Imagen {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    float: none;
  }
}

@media only screen and (max-width: 500px) {
  .carousel {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
  }

  .carousel-inner {
    width: 300px;
    height: 200px;
  }

  .imagen1,
  .imagen2 {
    width: 300px;
    height: 200px;
  }
}
