.trenes__Conteiner--titulo {
  text-align: center;
}

.trenes__Titulo {
  margin-top: 80px;
  font-size: 30px;
  padding: 10px;
  font-weight: 800;
  text-align: center;
}

.lsm {
  background: rgb(8, 104, 104);
  color: rgb(255, 255, 255);
}

.gm {
  background: rgb(30, 11, 204);
  color: rgb(255, 255, 255);
}

.ferro__Referencias--titulo {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 800;
}

.ferro__Referencias--item {
  padding: 10px 10px;
  font-size: 1rem;
}
