.trenes__Conteiner--titulo {
  text-align: center;
}

.trenes__Titulo {
  margin-top: 55px;
  font-size: 25px;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 45px;
}

.lsm {
  background: rgb(153, 210, 218);
  color: rgb(0, 0, 0);
}

.gm {
  background: rgb(185, 184, 202);
  color: rgb(0, 0, 0);
}

.gr {
  background: rgb(48, 174, 247);
  color: rgb(0, 0, 0);
}

.encabezado {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.div__Tr--tdsm,
.div__Tr--tdgm,
.div__Tr--tdgr {
  font-size: 15px;
}

.ferro__Referencias--titulo {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 800;
}

.ferro__Referencias--item {
  padding: 10px 10px;
  font-size: 1rem;
}
